.card {
    background-color: #f7f0f7;
}

#cardList .card {
  max-width: 100% !important;
  height: 400px !important;
  -webkit-box-shadow: 7px 10px 22px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 22px -14px rgba(0,0,0,0.75);
box-shadow: 7px 10px 22px -14px rgba(0,0,0,0.75);
}

.imgCardList {
  max-width: 100% !important;
  height: 300px !important;
}
