* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #1a1b26 !important;
    color: white !important;
    scroll-behavior: smooth !important;
}

body::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #3d31a8;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
  }
